<nav class="navbar sticky-top flex-md-nowrap p-0">
  <div class="col-sm-3 col-md-2 pr-0 bg-grey">
    <a class="navbar-brand text-white" href="#">
      <img src="assets/images/ic_monetization_on_24px.svg" alt="Icon">
      PerFI
    </a>
  </div>
  <button class="navbar-toggler navbar-light mr-auto" (click)="onToggleSidebar()"
          type="button" data-toggle="collapse" data-target="#side-nav-wrapper"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign in</a>
    </li>
  </ul>
</nav>
