<div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2 border-bottom">Dashboard</h1>
  <div class="row no-gutters">
    <hr>
    <div class="col-12 col-md-4" style="text-align: center">
      <h2>${{ wallet.balance }}</h2>
      <p><b>CHECKING</b> BALANCE</p>
    </div>
    <div class="col-12 col-md-4 border-left border-right" style="text-align: center">
      <h2>$0.00</h2>
      <p style="text-align: center"><b>SAVINGS</b> BALANCE</p>
    </div>
    <div class="col-12 col-md-4" style="text-align: center">
      <h2>$0.00</h2>
      <p style="text-align: center"><b>DEBT</b> BALANCE</p>
    </div>
  </div>
</div>
