<div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2 border-bottom">Transactions</h1>
  <div class="row no-gutters">
    <hr>
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">DATE</th>
            <th scope="col">CATEGORY</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses">
            <th scope="row">{{ expense.date | date:'mediumDate' }}</th>
            <td></td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount | currency:'USD'}}</td>
          </tr>
        </tbody>
        <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">TOTAL</th>
            <th scope="col">{{ expenses | sum:'amount' | currency:'USD' }}</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
